In [1]:
from nltk.tokenize import word_tokenize
from nltk.util import ngrams
import pandas as pd

print('OK !')

OK !

# ENG

In [2]:
def get_ngrams(text, n ):
    n_grams = ngrams(word_tokenize(text), n)
    return [ ' '.join(grams) for grams in n_grams]

In [3]:
ngram_list = get_ngrams('This is the simplest text i could think of could think of', 3)

In [4]:
ngram_df = pd.DataFrame(ngram_list)
ngram_df[0].value_counts().reset_index()

               index  0
0     could think of  2
1        This is the  1
2    is the simplest  1
3  the simplest text  1
4    simplest text i  1
5       text i could  1
6      i could think  1
7     think of could  1
8     of could think  1

# THA

In [5]:
from pythainlp.tokenize import word_tokenize

def get_ngrams_tha(text, n ):
    n_grams = ngrams(word_tokenize(text), n)
    return [ ' '.join(grams) for grams in n_grams]

In [6]:
ngram_list = get_ngrams('สวัสดีครับผมชื่อนัทนัทผมชื่อนัทชื่อนัทนะครับนัทชื่อนัท', 3)

In [7]:
ngram_df = pd.DataFrame(ngram_list)
ngram_df[0].value_counts().reset_index()

                  index  0
0          นัท ชื่อ นัท  2
1    สวัสดี ครับผม ชื่อ  1
2  ครับผม ชื่อ นัทนัทผม  1
3    ชื่อ นัทนัทผม ชื่อ  1
4     นัทนัทผม ชื่อ นัท  1
5         ชื่อ นัท ชื่อ  1
6           ชื่อ นัท นะ  1
7           นัท นะ ครับ  1
8           นะ ครับ นัท  1
9         ครับ นัท ชื่อ  1